#alternative-logins a[href*='/apps/user_oidc/login/']::before {
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
