#alternative-logins a[href*='/apps/user_oidc/login/']::before {
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 40px;
	display: inline-block;
	vertical-align: bottom;
}
